# ____ _  _ _    ___  _  _ ___  __     ____ ____ ____ __   ___  __   ___  ____ 
# |_ _\||_|\|| \ | _\ ||_|\|  \ | \|\  |  _\| __\| . \| \|\|  \ | \|\|  \ |   |
#   || | _ |||_|\[__ \| _ || . \|  \|  | _\ |  ]_|  <_|  \|| . \|  \|| . \| . |
#   |/ |/ |/|___/|___/|/ |/|/\_/|/\_/  |/   |___/|/\_/|/\_/|/\_/|/\_/|___/|___/
# -----| https://github.com/thushan/3dprinter-configs
#
# Last Updated: 13/08/2023
##############
# Heavily based on Cyril Guislain [@Guilouz]'s FLSun Super Racer configurations:
# https://github.com/Guilouz/Klipper-Flsun-Super-Racer
##############

[gcode_macro ADXL_TEST]
description: Test ADXL
gcode:
  ACCELEROMETER_QUERY

[gcode_macro ADXL_NOISE]
description: Measure Accelerometer Noise
gcode:
  MEASURE_AXES_NOISE

[gcode_macro ADXL_AXE_X]
description: Measure X-axis resonances
gcode:
  G28
  M400
  SHAPER_CALIBRATE AXIS=X

[gcode_macro ADXL_AXE_Y]
description: Measure Y-axis resonances
gcode:
  G28
  M400
  SHAPER_CALIBRATE AXIS=Y