# ____ _  _ _    ___  _  _ ___  __     ____ ____ ____ __   ___  __   ___  ____ 
# |_ _\||_|\|| \ | _\ ||_|\|  \ | \|\  |  _\| __\| . \| \|\|  \ | \|\|  \ |   |
#   || | _ |||_|\[__ \| _ || . \|  \|  | _\ |  ]_|  <_|  \|| . \|  \|| . \| . |
#   |/ |/ |/|___/|___/|/ |/|/\_/|/\_/  |/   |___/|/\_/|/\_/|/\_/|/\_/|___/|___/
# -----| https://github.com/thushan/3dprinter-configs
#
# Last Updated: 13/08/2023
##############
# Heavily based on Cyril Guislain [@Guilouz]'s FLSun Super Racer configurations:
# https://github.com/Guilouz/Klipper-Flsun-Super-Racer
##############

[gcode_macro PID_BED]
description: PID Tune Bed
gcode:
  {% if printer.idle_timeout.state == "Printing" %}
  RESPOND TYPE=error MSG="Can't PID Bed Tune whilst printing!"
  {% else %}
  RESPOND MSG="PID Tuning in progress..."
  G28
  G1 Z50 F1500
  M400
  M106
  PID_CALIBRATE HEATER=heater_bed TARGET={params.TEMP|default(65)}
  RESPOND MSG="PID Calibration Complete! Save Configuration!!!"
  M107
  G28
  {% endif %}

[gcode_macro PID_HOTEND]
description: PID Hotend
gcode:
  {% if printer.idle_timeout.state == "Printing" %}
  RESPOND TYPE=error MSG="Can't PID Tune Hotend whilst printing!"
  {% else %}
  RESPOND MSG="Nozzle PID Tunning..."
  G28
  G1 Z50 F1500
  M400
  M106
  PID_CALIBRATE HEATER=extruder TARGET={params.TEMP|default(220)}
  RESPOND MSG="PID Calibration Complete! Save Configuration!!!"
  M107
  G28
  {% endif %}
  
[gcode_macro _PID_KS_START]
description: PID for KlipperScreen
gcode:
  RESPOND MSG="PID Tunning..."
  G28
  G1 Z50 F1500
  M400
  M106

[gcode_macro _PID_KS_END]
description: PID for KlipperScreen
gcode:
  M107
  RESPOND MSG="PID Calibration Complete! Save Configuration!!!"
  G28
