# ____ _  _ _    ___  _  _ ___  __     ____ ____ ____ __   ___  __   ___  ____ 
# |_ _\||_|\|| \ | _\ ||_|\|  \ | \|\  |  _\| __\| . \| \|\|  \ | \|\|  \ |   |
#   || | _ |||_|\[__ \| _ || . \|  \|  | _\ |  ]_|  <_|  \|| . \|  \|| . \| . |
#   |/ |/ |/|___/|___/|/ |/|/\_/|/\_/  |/   |___/|/\_/|/\_/|/\_/|/\_/|___/|___/
# -----| https://github.com/thushan/3dprinter-configs
#
# Last Updated: 13/08/2023
##############
# Manage power controls for host.
##############

[gcode_shell_command shutdown_host]
command: shutdown -h now

[delayed_gcode shutdown_machine]
gcode:
    RUN_SHELL_COMMAND CMD=shutdown_host
initial_duration: 0.0

[menu __main __poweroff]
type: command
enable: {printer.idle_timeout.state != "Printing"}
name: Turn Off shutdown_host
gcode:
    M117 Shutdown_RPI
    { menu.exit() }
    UPDATE_DELAYED_GCODE ID=shutdown_machine DURATION=1