# ____ _  _ _    ___  _  _ ___  __     ____ ____ ____ __   ___  __   ___  ____ 
# |_ _\||_|\|| \ | _\ ||_|\|  \ | \|\  |  _\| __\| . \| \|\|  \ | \|\|  \ |   |
#   || | _ |||_|\[__ \| _ || . \|  \|  | _\ |  ]_|  <_|  \|| . \|  \|| . \| . |
#   |/ |/ |/|___/|___/|/ |/|/\_/|/\_/  |/   |___/|/\_/|/\_/|/\_/|/\_/|___/|___/
# -----| https://github.com/thushan/3dprinter-configs
#
# Last Updated: 13/08/2023
##############
# Heavily based on Cyril Guislain [@Guilouz]'s FLSun Super Racer configurations:
# https://github.com/Guilouz/Klipper-Flsun-Super-Racer
##############

[gcode_macro PRESSURE_ADVANCE]
description: Pressure Advance Calibration
gcode:
  {% if printer.idle_timeout.state == "Printing" %}
  RESPOND TYPE=error MSG="Can't configure pressure advance whilst printing!"
  {% else %}
  SET_PRESSURE_ADVANCE ADVANCE=0   
  SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
  TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.020
  {% endif %}