# ____ _  _ _    ___  _  _ ___  __     ____ ____ ____ __   ___  __   ___  ____ 
# |_ _\||_|\|| \ | _\ ||_|\|  \ | \|\  |  _\| __\| . \| \|\|  \ | \|\|  \ |   |
#   || | _ |||_|\[__ \| _ || . \|  \|  | _\ |  ]_|  <_|  \|| . \|  \|| . \| . |
#   |/ |/ |/|___/|___/|/ |/|/\_/|/\_/  |/   |___/|/\_/|/\_/|/\_/|/\_/|___/|___/
# -----| https://github.com/thushan/3dprinter-configs
#
# Last Updated: 12/07/2022

# https://www.reddit.com/r/klippers/comments/s77yiv/whats_your_process_for_changing_to_a_new_roll_of/
[gcode_macro FILAMENT_UNLOAD]
gcode:
   M83                            ; set extruder to relative
   G1 X125 Y50 Z80                ; move to servicing position
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-10 F3000                  ; jerk the filament out of the melt zone
   G1 E-50 F1800                  ; retract the rest of the way
   G1 E-10 F900                   ; retract the rest of the way
   M82  

[gcode_macro FILAMENT_LOAD]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82

[gcode_macro FILAMENT_CHANGE]
gcode:
   M83                            ; set extruder to relative