# ____ _  _ _    ___  _  _ ___  __     ____ ____ ____ __   ___  __   ___  ____ 
# |_ _\||_|\|| \ | _\ ||_|\|  \ | \|\  |  _\| __\| . \| \|\|  \ | \|\|  \ |   |
#   || | _ |||_|\[__ \| _ || . \|  \|  | _\ |  ]_|  <_|  \|| . \|  \|| . \| . |
#   |/ |/ |/|___/|___/|/ |/|/\_/|/\_/  |/   |___/|/\_/|/\_/|/\_/|/\_/|___/|___/
# -----| https://github.com/thushan/3dprinter-configs
#
# Last Updated: 01/07/2022

[gcode_macro LED_SET_RED]
gcode:  
	SET_PIN PIN=LED_PIN_R VALUE=1
	SET_PIN PIN=LED_PIN_G VALUE=0
	SET_PIN PIN=LED_PIN_B VALUE=0

[gcode_macro LED_SET_GREEN]
gcode:
	SET_PIN PIN=LED_PIN_R VALUE=0
	SET_PIN PIN=LED_PIN_G VALUE=1
	SET_PIN PIN=LED_PIN_B VALUE=0

[gcode_macro LED_SET_BLUE]
gcode:  
	SET_PIN PIN=LED_PIN_R VALUE=0
	SET_PIN PIN=LED_PIN_G VALUE=0
	SET_PIN PIN=LED_PIN_B VALUE=1

[gcode_macro LED_SET_WHITE]
gcode:  
	SET_PIN PIN=LED_PIN_R VALUE=1
	SET_PIN PIN=LED_PIN_G VALUE=1
	SET_PIN PIN=LED_PIN_B VALUE=1
	
[gcode_macro LED_SET_OFF]
gcode:
	SET_PIN PIN=LED_PIN_R VALUE=0
	SET_PIN PIN=LED_PIN_G VALUE=0
	SET_PIN PIN=LED_PIN_B VALUE=0
