# ____ _  _ _    ___  _  _ ___  __     ____ ____ ____ __   ___  __   ___  ____ 
# |_ _\||_|\|| \ | _\ ||_|\|  \ | \|\  |  _\| __\| . \| \|\|  \ | \|\|  \ |   |
#   || | _ |||_|\[__ \| _ || . \|  \|  | _\ |  ]_|  <_|  \|| . \|  \|| . \| . |
#   |/ |/ |/|___/|___/|/ |/|/\_/|/\_/  |/   |___/|/\_/|/\_/|/\_/|/\_/|___/|___/
# -----| https://github.com/thushan/3dprinter-configs
#
# Last Updated: 08/03/2022

[gcode_macro _TIMELAPSE_NEW_FRAME]
gcode:
  {action_call_remote_method("timelapse_newframe")}
 ; leave this in a separate macro!

[gcode_macro TIMELAPSE_TAKE_FRAME]
gcode:
  SAVE_GCODE_STATE NAME=SNAPSHOT
  G92 E0 ;Reset Extruder
  G91 ;relative
  G1 Z2 F1200.0
  G1 E-0.4 F200
  G90 ;absolute
  G1 X10 F5000.0
  G4 P2000 ;dwell
  _TIMELAPSE_NEW_FRAME
  G4 P500 ;more dwelling
  G1 X115 F5000.0 ;move to center
  RESTORE_GCODE_STATE NAME=SNAPSHOT MOVE=1
  G1 E0.4 F200
  G92 E0
  G90 ;absolute
  RESTORE_GCODE_STATE NAME=SNAPSHOT

; frame, no parking
[gcode_macro TIMELAPSE_FRAME]
gcode:
  _TIMELAPSE_NEW_FRAME

[gcode_macro TIMELAPSE_RENDER]
gcode:
  {action_call_remote_method("timelapse_render")}